<div class="filter-wrapper">
    <div class="form-label">Select Cortex</div>

    <div id="eeg-checkbox-container" class="checkboxes-wrapper">
        <input type="checkbox" class="btn-check eeg-visual" id="btn-eeg-visual" value="visual" autocomplete="off">
        <label class="btn btn-outline-primary eeg-visual shadow-none disabled" for="btn-eeg-visual">Visual</label>

        <input type="checkbox" class="btn-check eeg-motory" id="btn-eeg-motory" value="motory" autocomplete="off">
        <label class="btn btn-outline-primary eeg-motory shadow-none disabled" for="btn-eeg-motory">Motory</label>

        <input type="checkbox" class="btn-check eeg-sensory" id="btn-eeg-sensory" value="sensory" autocomplete="off">
        <label class="btn btn-outline-primary eeg-sensory shadow-none disabled" for="btn-eeg-sensory">Sensory</label>
    </div>

    <div id='eegPlot'><!-- EEG plot will be drawn inside this DIV --></div>
</div>
