<div class="filter-wrapper">
    <div class="form-label">Select Cortex</div>

    <div id="eeg-checkbox-container" class="checkboxes-wrapper">
        <input type="checkbox" class="btn-check eeg-frontal" id="btn-eeg-frontal" value="frontal lobe" autocomplete="off">
        <label class="btn btn-outline-primary eeg-frontal shadow-none disabled" for="btn-eeg-frontal">Frontal</label>

        <input type="checkbox" class="btn-check eeg-parietal" id="btn-eeg-parietal" value="parietal lobe" autocomplete="off">
        <label class="btn btn-outline-primary eeg-parietal shadow-none disabled" for="btn-eeg-parietal">Parietal</label>

        <input type="checkbox" class="btn-check eeg-occipital" id="btn-eeg-occipital" value="occipital lobe" autocomplete="off">
        <label class="btn btn-outline-primary eeg-occipital shadow-none disabled" for="btn-eeg-occipital">Occipital</label>

        <input type="checkbox" class="btn-check eeg-temporal-l" id="btn-eeg-temporal-l" value="temporal lobe (L)" autocomplete="off">
        <label class="btn btn-outline-primary eeg-temporal-l shadow-none disabled" for="btn-eeg-temporal-l">Temporal (L)</label>

        <input type="checkbox" class="btn-check eeg-temporal-r" id="btn-eeg-temporal-r" value="temporal lobe (R)" autocomplete="off">
        <label class="btn btn-outline-primary eeg-temporal-r shadow-none disabled" for="btn-eeg-temporal-r">Temporal (R)</label>
    </div>

    <div id='eegPlot'><!-- EEG plot will be drawn inside this DIV --></div>
</div>
