{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-4 selection-container" id="subject-selection-container">
    <h3>SUBJECT</h3>
    {% include 'subject-selection.html' %}
  </div>
  <div class="col-4 selection-container" id="eeg-selection-container">
    <h3>EEG</h3>
    {% include 'eeg-selection.html' %}
  </div>
  <div class="col-4 selection-container" id="meg-selection-container">
    <h3>MEG</h3>
    {% include 'meg-selection.html' %}
  </div>
</div>

<script src="/static/js/custom.js"></script>
<script>
    $(document).ready(function() {
        initializeVisualizations();

        // enable all bootstrap tooltips
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>

{% endblock %}