<div class="filter-wrapper">
    <div class="form-label">Select Cortex</div>

    <div id="meg-checkbox-container" class="checkboxes-wrapper">
        <input type="checkbox" class="btn-check meg-frontal" id="btn-meg-frontal" value="frontal lobe" autocomplete="off">
        <label class="btn btn-outline-primary meg-frontal shadow-none disabled" for="btn-meg-frontal">Frontal</label>

        <input type="checkbox" class="btn-check meg-parietal" id="btn-meg-parietal" value="parietal lobe" autocomplete="off">
        <label class="btn btn-outline-primary meg-parietal shadow-none disabled" for="btn-meg-parietal">Parietal</label>

        <input type="checkbox" class="btn-check meg-occipital" id="btn-meg-occipital" value="occipital lobe" autocomplete="off">
        <label class="btn btn-outline-primary meg-occipital shadow-none disabled" for="btn-meg-occipital">Occipital</label>

        <input type="checkbox" class="btn-check meg-temporal-l" id="btn-meg-temporal-l" value="temporal lobe (L)" autocomplete="off">
        <label class="btn btn-outline-primary meg-temporal-l shadow-none disabled" for="btn-meg-temporal-l">Temporal (L)</label>

        <input type="checkbox" class="btn-check meg-temporal-r" id="btn-meg-temporal-r" value="temporal lobe (R)" autocomplete="off">
        <label class="btn btn-outline-primary meg-temporal-r shadow-none disabled" for="btn-meg-temporal-r">Temporal (R)</label>
    </div>

    <div id='megPlot'><!-- meg plot will be drawn inside this DIV --></div>
</div>
