<div class="filter-wrapper">
    <div class="form-label">Select Cortex</div>

    <div id="meg-checkbox-container" class="checkboxes-wrapper">
        <input type="checkbox" class="btn-check meg-visual" id="btn-meg-visual" value="visual" autocomplete="off">
        <label class="btn btn-outline-primary meg-visual shadow-none disabled" for="btn-meg-visual">Visual</label>

        <input type="checkbox" class="btn-check meg-motory" id="btn-meg-motory" value="motory" autocomplete="off">
        <label class="btn btn-outline-primary meg-motory shadow-none disabled" for="btn-meg-motory">Motory</label>

        <input type="checkbox" class="btn-check meg-sensory" id="btn-meg-sensory" value="sensory" autocomplete="off">
        <label class="btn btn-outline-primary meg-sensory shadow-none disabled" for="btn-meg-sensory">Sensory</label>
    </div>

    <div id='megPlot'><!-- meg plot will be drawn inside this DIV --></div>
</div>
