<div class="filter-wrapper">
    <div id="subject-sex" class="filter-group">
        <div class="form-label">Filter on Sex</div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="sex" id="male" autocomplete="off" value="m">
          <label class="btn btn-outline-primary" for="male">Male</label>

          <input type="radio" class="btn-check" name="sex" id="all-sex" autocomplete="off" value="all" checked>
          <label class="btn btn-outline-primary" for="all-sex">All</label>

          <input type="radio" class="btn-check" name="sex" id="female" autocomplete="off" value="f">
          <label class="btn btn-outline-primary" for="female">Female</label>
        </div>
    </div>

    <div id="subject-age" class="filter-group">
        <div class="form-label">Filter on Age</div>
        <input id="ageSlider" type="text" class="js-range-slider" name="my_range" value="" />
    </div>

    <div id="subject-selection">
        <div class="form-label">Select subject</div>
        <select id="subject-selector" class="form-select" aria-label="Default select example">
        </select>
        <span class="selector-help"><sup>*</sup> Subject ID: Sex, Age</span>
    </div>

    <div id="startAnalysisContainer" class="container">
        <div class="analysis-wrapper ms-auto" style="display:inline-block" data-toggle="tooltip" data-placement="bottom"
            title="Please select a subject and signal(s) first.">
            <button id="startAnalysis" class="btn btn-outline-success disabled" onclick="startAnalysis()"
            >Start Analysis</button>
        </div>
    </div>
</div>

