    <div id="emg-selection-checkboxes">
        <div id="emg-visual-container" class="emg-input-container">
            <input type="checkbox" id="emg-visual" name="emg-visual" value="emg-visual">
            <label for="emg-visual">Visual</label>
        </div>
        <div id="emg-motor-container" class="emg-input-container">
            <input type="checkbox" id="emg-motor" name="emg-motor" value="emg-motor">
            <label for="emg-motor">Motory</label>
        </div>
        <div id="emg-sensory-container" class="emg-input-container">
            <input type="checkbox" id="emg-sensory" name="emg-sensory" value="emg-sensory">
            <label for="emg-sensory">Sensory</label>
        </div><br>
        <div class="emg-all-btn" style="display:inline-block; text-decoration:underline;">select all</div>
        <div class="emg-reset-btn" style="display:inline-block; text-decoration:underline;">clear all</div>
        <div class="emg-img"><img src="/static/images/meg-img.png" width="512" height="512"></div>
    </div>
