{% extends 'base.html' %} {% block content %}

  <div class="row">
    <div class="col-2" id="subject-selection-container">
      <h3>SUBJECTS</h3>
      {% include 'subject-selection.html' %}
    </div>
    <div class="col-5" id="eeg-selection-container">
      <h3>EEG</h3>
      {% include 'eeg-selection.html' %}
    </div>
    <div class="col-5" id="emg-selection-container">
      <h3>EMG</h3>
      {% include 'emg-selection.html' %}
    </div>
  </div>

    <button onclick="letsgo()">GO</button>
<script src="/static/js/index.js" charset="utf-8"></script>

    {{ script|safe }}

<script>
function updateTable(newdata, deletionCallback) {
  var table = d3.select("#subject-selection-container table tbody");

  var rows = table.selectAll("tbody tr")
    .data(newdata, function (d) {return d.id;});

  var temp = rows.enter()
    .append('tr')
    .selectAll("td")


    temp.data(function (d) {return [d.id, d.age, d.gender];})
    .enter()
    .append("td")
    .text(function(d) { return d; })

    temp.data(function(d) {return d.id;}).enter().append("td").text("X").on("click", function(d) {
      var tempos = d3.select(this).data()[0]
      deletionCallback(tempos)
    })

  rows.exit().remove();
}

function updateSelect(newdata) {
  var select = d3.select("#subject-selection select");
  slider_bot = d3.selectAll(".slider .parameter-value").data()[0].value
  slider_top = d3.selectAll(".slider .parameter-value").data()[1].value
  chosen_gender = d3.select("#subject-gender input:checked").attr("value")

  newdata = Array.from(newdata).filter(function(d) {
    return d.age >= slider_bot && d.age <= slider_top && (d.gender === chosen_gender || chosen_gender === 'all')
  })

  var options = select.selectAll("option")
    .data(newdata, function (d) {return d.id;});

  options.enter()
    .append('option')
    .text(function(d) {return "Subject " + d.id + " (" + d.gender + ", " + d.age + ")"})

  options.exit().remove();
}

function addSlider(data) {
    // Range
  var sliderRange = d3
    .sliderBottom()
    .min(d3.min(data, d => d.age))
    .max(d3.max(data, d => d.age))
    .width(200)
    .tickFormat(d3.format(',d'))
    .ticks(5)
    .step(1)
    .default([d3.min(data, d => d.age), 20])
    .fill('#2196f3')
          .on('onchange', d => updateSelect(select_data));

  var gRange = d3
    .select('div#slider-range')
    .append('svg')
    .attr('width', 300)
    .attr('height', 100)
    .append('g')
    .attr('transform', 'translate(30,30)');

  gRange.call(sliderRange);
}

$(document).ready(function() {

d3.json("static/json/subjects.json").then(function(subjects)
{
    // slider
      // Range
  data = subjects
  var sliderRange = d3
    .sliderBottom()
    .min(d3.min(data, d => d.age))
    .max(d3.max(data, d => d.age))
    .width(200)
    .tickFormat(d3.format(',d'))
    .ticks(5)
    .step(1)
    .default([d3.min(data, d => d.age), 20])
    .fill('#2196f3')
          .on('onchange', d => updateSelect(select_data));

  var gRange = d3
    .select('div#slider-range')
    .append('svg')
    .attr('width', 300)
    .attr('height', 100)
    .append('g')
    .attr('transform', 'translate(30,30)');

  gRange.call(sliderRange);


  var select_data = new Set(subjects)
  var table_data = new Set()

  /*var sliderChange = val => {
    bottom_val = val[0]
    top_val = val[1]

    new_data = Array.from(select_data).filter(function (d) {
      return d.age >= bottom_val && d.age <= top_val
    });

    updateSelect(new_data)
  }

  addSlider(subjects, sliderChange)*/

  updateSelect(subjects)

 // $('.js-example-basic-multiple').select2()

  d3.select("#add-selection").on("click", function(){
    var new_data = d3.selectAll("#subject-selection option:checked").data()

    new_data.forEach(function (el) {
      table_data.add(el)
      select_data.delete(el)
    })

    updateTable(table_data, delCallback)
    updateSelect(select_data)
  })

  d3.selectAll("#subject-gender input").on("change", function(d) {
    console.log("euhm")
      updateSelect(select_data)
  })

  function delCallback(id_to_return) {
    console.log("ok")
    var element = undefined
    table_data.forEach(function (el) {
      console.log(el)
      if (el.id === id_to_return) {
        element = el
      }
    })
    table_data.delete(element)
    select_data.add(element)
    updateTable(table_data)
    updateSelect(select_data)
  }

}).catch(function(error)
{
    console.log(error)
});

});

</script>




{% endblock %}