{% extends 'base.html' %} {% block content %}
<p>{{ paragraph_title }}</p>
<div id="subject-selection-container">
</div>
<div id="eeg-selection-container">
    <div id="eeg-selection-checkboxes">
        <div id="eeg-all-container" class="eeg-input-container" style="display:inline-block">
            <input type="checkbox" id="eeg-all" name="eeg-all" value="eeg-all">
            <label for="eeg-all">All</label>
        </div>
        <div id="eeg-visual-container" class="eeg-input-container">
            <input type="checkbox" id="eeg-visual" name="eeg-visual" value="eeg-visual">
            <label for="eeg-visual">Visual</label>
        </div>
        <div id="eeg-motor-container" class="eeg-input-container">
            <input type="checkbox" id="eeg-motor" name="eeg-motor" value="eeg-motor">
            <label for="eeg-motor">Motory</label>
        </div>
        <div id="eeg-sensory-container" class="eeg-input-container">
            <input type="checkbox" id="eeg-sensory" name="eeg-sensory" value="eeg-sensory">
            <label for="eeg-sensory">Sensory</label>
        </div>
        <div class="eeg-input-container eeg-reset-btn">reset</div>
    </div>
</div>
<div id="emg-selection-container">
</div>
<button onclick="letsgo()">GO</button>
<script src="/static/js/index.js" charset="utf-8"></script>
{% endblock %}