<h3>Add subjects</h3>
<div id="subject-gender">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="all" value="all" checked>
      <label class="form-check-label" for="all">
        All
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="male" value="m">
      <label class="form-check-label" for="male">
        Male
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="female" value="f">
      <label class="form-check-label" for="female">
        Female
      </label>
    </div>
</div>

<div id="subject-age">
    <div id="slider-range"></div>
</div>

<div id="subject-selection">
    <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
    </select><br>
    <button id="add-selection">Add selected objects</button>
</div>

<div id="subject-results">
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>