    <h3>Add subjects</h3>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="all" checked>
      <label class="form-check-label" for="all">
        All
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="male">
      <label class="form-check-label" for="male">
        Male
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="female">
      <label class="form-check-label" for="female">
        Female
      </label>
    </div>

<input id="ex2"
       type="text"
       class="span2"
       value=""
       data-slider-min="10"
       data-slider-max="1000"
       data-slider-step="5"
       data-slider-value="[250,450]"/>

<select class="js-example-basic-multiple" name="states[]" multiple="multiple">
  <option value="AL">Alabama</option>
    ...
  <option value="WY">Wyoming</option>
</select>