body {
    background-color: #D3D3D3;
}

/* custom navbar */
.navbar {
    margin-bottom: 10px;
}

/* wrapper */
.main-wrapper {
    width:95%;
    margin:0 auto;
}

/* subject selection */

.selection-container {
    margin-top: 10px;
    text-align: center;
    min-width: 300px;
}

div.filter-wrapper {
    -webkit-box-shadow: 0 0 10px rgba(46, 84, 129, .3);
    -moz-box-shadow: 0 0 10px rgba(46, 84, 129, .3);
    box-shadow: 0 0 10px rgba(46, 84, 129, .3);
    border: solid 1px #839bb7;
    outline: none;
    -webkit-transition: border linear .2s,
    box-shadow linear .2s;
    -moz-transition: border linear .2s,
    box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;

    padding: 20px;

    background-color: white;
    text-align: left;
}

div.selection-container h3 {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.filter-group {
    margin-bottom: 0.5rem;
}

div.form-label {
    color: #444;
    font-weight: 600;
}

#subject-sex .btn-group, #subject-hand .btn-group {
    width: 100%;
}

.selector-help {
    font-style: italic;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 0.5rem;
}

/* EEG plot */
#eegPlot {
    display: inline-block;
    width: 100%;
    height: 400px;
}

#eeg-selection-container label.eeg-visual {
    color: red;
    border-color: red;
}

#eeg-selection-container .filter-wrapper {
    text-align: center;
}

#eeg-selection-container .eeg-visual.btn-check:checked+.btn-outline-primary,
#eeg-selection-container .eeg-visual.btn-outline-primary:hover {
    color: #fff;
    background-color: red;
    border-color: red;
}

#eeg-selection-container label.eeg-motory {
    color: blue;
    border-color: blue;
}

#eeg-selection-container .eeg-motory.btn-check:checked+.btn-outline-primary,
#eeg-selection-container .eeg-motory.btn-outline-primary:hover {
    color: #fff;
    background-color: blue;
    border-color: blue;
}

#eeg-selection-container label.eeg-sensory {
    color: orange;
    border-color: orange;
}

#eeg-selection-container .eeg-sensory.btn-check:checked+.btn-outline-primary,
#eeg-selection-container .eeg-sensory.btn-outline-primary:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

/* MEG plot */
#megPlot {
    display: inline-block;
    width: 100%;
    height: 400px;
}

#meg-selection-container label.meg-visual {
    color: red;
    border-color: red;
}

#meg-selection-container .filter-wrapper {
    text-align: center;
}

#meg-selection-container .meg-visual.btn-check:checked+.btn-outline-primary,
#meg-selection-container .meg-visual.btn-outline-primary:hover {
    color: #fff;
    background-color: red;
    border-color: red;
}

#meg-selection-container label.meg-motory {
    color: blue;
    border-color: blue;
}

#meg-selection-container .meg-motory.btn-check:checked+.btn-outline-primary,
#meg-selection-container .meg-motory.btn-outline-primary:hover {
    color: #fff;
    background-color: blue;
    border-color: blue;
}

#meg-selection-container label.meg-sensory {
    color: orange;
    border-color: orange;
}

#meg-selection-container .meg-sensory.btn-check:checked+.btn-outline-primary,
#meg-selection-container .meg-sensory.btn-outline-primary:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}