html, body {
    margin: 0;
    height: 100%
}

body {
    background-color: #D3D3D3;
}

/* custom navbar */
.navbar {
    margin-bottom: 10px;
}

.navbar-brand {
    white-space: normal;
}

#startAnalysis, #backToSubjectSel {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

/* wrapper */
.main-wrapper {
    width:95%;
    margin:0 auto;
}

/* subject selection */

.selection-container {
    margin-top: 10px;
    text-align: center;
    min-width: 300px;
}

#startAnalysisContainer {
    margin-top: 1rem;
    text-align: center;
}

.analysis-wrapper {
    width: 100%;
}

#startAnalysis {
    width: 100%;
}

div.filter-wrapper {
    -webkit-box-shadow: 0 0 10px rgba(46, 84, 129, .3);
    -moz-box-shadow: 0 0 10px rgba(46, 84, 129, .3);
    box-shadow: 0 0 10px rgba(46, 84, 129, .3);
    border: solid 1px #839bb7;
    outline: none;
    -webkit-transition: border linear .2s,
    box-shadow linear .2s;
    -moz-transition: border linear .2s,
    box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;

    padding: 20px;

    background-color: white;
    text-align: left;
}

div.selection-container h3 {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.filter-group {
    margin-bottom: 0.5rem;
}

div.form-label {
    color: #444;
    font-weight: 600;
}

#subject-sex .btn-group {
    width: 100%;
}

.selector-help {
    font-style: italic;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 0.5rem;
}


/* age slider */
irs--flat .irs-handle>i:first-child {
    background-color: #4e73df!important;
}
.irs--flat .irs-bar {
    background-color: #4e73df!important;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: #4e73df!important;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    border-top-color: #4e73df!important;
}

/* EEG plot */
#eegPlot {
    display: inline-block;
    width: 100%;
    height: 400px;
}

#eeg-selection-container label.eeg-frontal {
    color: red;
    border-color: red;
}

#eeg-selection-container .filter-wrapper {
    text-align: center;
}

#eeg-selection-container .eeg-frontal.btn-check:checked+.btn-outline-primary,
#eeg-selection-container .eeg-frontal.btn-outline-primary:hover {
    color: #fff;
    background-color: red;
    border-color: red;
}

#eeg-selection-container label.eeg-parietal {
    color: blue;
    border-color: blue;
}

#eeg-selection-container .eeg-parietal.btn-check:checked+.btn-outline-primary,
#eeg-selection-container .eeg-parietal.btn-outline-primary:hover {
    color: #fff;
    background-color: blue;
    border-color: blue;
}

#eeg-selection-container label.eeg-occipital {
    color: orange;
    border-color: orange;
}

#eeg-selection-container .eeg-occipital.btn-check:checked+.btn-outline-primary,
#eeg-selection-container .eeg-occipital.btn-outline-primary:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

#eeg-selection-container label.eeg-temporal-l {
    color: yellow;
    border-color: yellow;
}

#eeg-selection-container .eeg-temporal-l.btn-check:checked+.btn-outline-primary,
#eeg-selection-container .eeg-temporal-l.btn-outline-primary:hover {
    color: #fff;
    background-color: yellow;
    border-color: yellow;
}

#eeg-selection-container label.eeg-temporal-r {
    color: black;
    border-color: black;
}

#eeg-selection-container .eeg-temporal-r.btn-check:checked+.btn-outline-primary,
#eeg-selection-container .eeg-temporal-r.btn-outline-primary:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}

/* MEG plot */
#megPlot {
    display: inline-block;
    width: 100%;
    height: 400px;
}

#meg-selection-container .filter-wrapper {
    text-align: center;
}

#meg-selection-container label.meg-frontal {
    color: red;
    border-color: red;
}

#meg-selection-container .meg-frontal.btn-check:checked+.btn-outline-primary,
#meg-selection-container .meg-frontal.btn-outline-primary:hover {
    color: #fff;
    background-color: red;
    border-color: red;
}

#meg-selection-container label.meg-parietal {
    color: blue;
    border-color: blue;
}

#meg-selection-container .meg-parietal.btn-check:checked+.btn-outline-primary,
#meg-selection-container .meg-parietal.btn-outline-primary:hover {
    color: #fff;
    background-color: blue;
    border-color: blue;
}

#meg-selection-container label.meg-occipital {
    color: orange;
    border-color: orange;
}

#meg-selection-container .meg-occipital.btn-check:checked+.btn-outline-primary,
#meg-selection-container .meg-occipital.btn-outline-primary:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

#meg-selection-container label.meg-temporal-l {
    color: yellow;
    border-color: yellow;
}

#meg-selection-container .meg-temporal-l.btn-check:checked+.btn-outline-primary,
#meg-selection-container .meg-temporal-l.btn-outline-primary:hover {
    color: #fff;
    background-color: yellow;
    border-color: yellow;
}

#meg-selection-container label.meg-temporal-r {
    color: black;
    border-color: black;
}

#meg-selection-container .meg-temporal-r.btn-check:checked+.btn-outline-primary,
#meg-selection-container .meg-temporal-r.btn-outline-primary:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}

/* loading screen */
.loading-screen {
    height: 100vh;
}

.loading-screen .spinner-border {
    margin: 0;
    position: absolute;
    top: 50%;
}

/* bokeh */
.bokeh-wrapper {
    width: 100vw;
}

/* subject info */
.subject-info {
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
